.paperE {
    text-align: center;
		width: 100%;
		height: 100vh;
}

#content {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100vh;
}

#searchFieldContainer {
	margin-left: 5%;
	margin-right: 5%;
}

tr {
	text-align: left;
}
